<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
</head>

<body>
  <div class="home">
    <div class="container">  
      <div id="logo">
        <a><img src="<%= assetPath('waiter.png') %>" alt="Logo" /></a>
        <b><h1> Easy-Reservation</h1><b/>
      </div>

    </div>
  </div>
</body>
</html>


