
.scrollable-checkbox {
    position: absolute;
    left: 40%;
    top: 40%;
    // border: 2px solid;
    width:30%;
    height: 106px;
    overflow-y: scroll;
}
.list-type{
    position: relative;
    top: 5px
}
.buttons-categories {
    position: absolute;
    left: 45%;
    top: 70% ;
}